- wrap_layout :layout do
  = partial "layouts/contents-blog"
  .main-content.blog{:role => "main"}
    .articles
      - if is_blog_article?
        = partial "blog/header", {locals: { article: current_article } }
        = yield
      - else
        = yield
      - if is_blog_article?
        = partial "blog/disqus"
    .side-columns
      .side-column
        %h3.side-header Categories
        = yield_content :tags
      .side-column
        %h3.side-header Network
        = yield_content :network
      .side-column
        %h3.side-header
          Posts
          %ul.archive
            = partial "blog/sidebar_links", {locals: { article: current_article } }
