%html{"ng-app" => "artoo"}
  %head
    = partial "/layouts/hybridpages/head"
    %link{rel: "stylesheet", href: "//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Lato:400|Inconsolata"}
    %link{href: '/favicon.ico', rel: 'shortcut icon', type: 'image/gif' }
  %body  
    = partial "layouts/layout-contents"
    .app-header{role: "banner", :id => "top"}
      .container
        .display
          .app-logo
            = yield_content :logo

        %nav.menu
          = yield_content :menu

    .app-content
      - if current_page.data.hero == true
        = partial "/layouts/hybridpages/hero"
      
      - if current_page.data.page_title_show == true
        = partial "/layouts/hybridpages/page_title"

      = yield

    .app-footer
      = partial "/layouts/hybridpages/footer"

    
  - if is_blog_article?
    %script{:src => "/javascripts/vendor/disqus.js"}
    %script{src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53632dea5fd71564", type: "text/javascript"}





 
